<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetBankingV1">
	<test name="BankingApp Test">
		<parameter name="browser" value="firefox" />
		<classes>
			
			<!--eBanking Test Cases -->
			<class name="com.inetbanking.testCases.TC_LoginTest_001" />
			<class name="com.inetbanking.testCases.TC_AddCustomer_003" />
			<!-- <class name="com.inetbanking.testCases.TC_LoginDDT_002" />-->
			
			
			<!--Insurance Site Test Cases-->
			
			<class name="com.InsuranceCompany.testCases.TC_Insurance_Login_Page_001"/>
			<class name="com.InsuranceCompany.testCases.TC_Insurance_Registration_page_001"/>
		</classes>
	</test>
</suite>